@charset "UTF-8";

.pf_section>.sec>.section_title>h5>span{
	color: #fff;
    letter-spacing: 0em;
}
.section02{
	padding-top: 310px;
}
.section02:after{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 420px;
	z-index: -1;
	background-color: #0f7139;
}
.section03{
	background-color: #efefef;
	padding-top: 120px;
}
.section03 .inner{
	width: 100%;
}
.section04{
	position: relative;
	padding-top: 200px;
}
.section04:after{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #f6e477;
	
}
.section05{
	position: relative;
	padding-top: 309px;
}
.section05:after{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 420px;
	z-index: -1;
}