@charset "utf-8";


/* 블라인드 */
.blind{
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	top: 0; left: 0;
	width: 1px; height: 1px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}

/* width */
.w50{width: 50px !important;}
.w75{width: 75px !important;}
.w100{width: 100px !important;}
.w125{width: 125px !important;}
.w190{width: 190px !important;}
.w200{width: 200px !important;}
.w250{width: 250px !important;}
.w300{width: 300px !important;}
.w360{width: 360px !important;}
.w394{width: 394px !important;}
.w400{width: 400px !important;}
.w430{width: 430px !important;}
.w500{width: 500px !important;}

/* 높이 */
.h10{height: 10px !important;}
.h20{height: 20px !important;}
.h30{height: 30px !important;}
.h40{height: 40px !important;}
.h50{height: 50px !important;}
.h60{height: 60px !important;}
.h70{height: 70px !important;}
.h80{height: 80px !important;}
.h90{height: 90px !important;}
.h100{height: 100px !important;}
.h150{height: 150px !important;}
.h200{height: 200px !important;}
.h250{height: 250px !important;}
.h300{height: 300px !important;}


/* 텍스트 배열*/
.txt_L{text-align: left; !important;}
.txt_R{text-align: right; !important;}
.txt_C{text-align: center; !important;}

/* 마진 */
.m10{margin: 10px!important;}
.m20{margin: 20px!important;}
.m30{margin: 30px!important;}

.mt5{margin-top: 5px!important;}
.mt10{margin-top: 10px!important;}
.mt15{margin-top: 15px!important;}
.mt20{margin-top: 20px!important;}
.mt25{margin-top: 25px!important;}
.mt30{margin-top: 30px!important;}

.mr5{margin-right: 5px!important;}
.mr10{margin-right: 10px!important;}
.mr15{margin-right: 15px!important;}
.mr20{margin-right: 20px!important;}
.mr25{margin-right: 25px!important;}
.mr30{margin-right: 30px!important;}

.mb5{margin-bottom: 5px!important;}
.mb10{margin-bottom: 10px!important;}
.mb15{margin-bottom: 15px!important;}
.mb20{margin-bottom: 20px!important;}
.mb25{margin-bottom: 25px!important;}
.mb30{margin-bottom: 30px!important;}

.ml5{margin-left: 5px!important;}
.ml10{margin-left: 10px!important;}
.ml15{margin-left: 15px!important;}
.ml20{margin-left: 20px!important;}
.ml25{margin-left: 25px!important;}
.ml30{margin-left: 30px!important;}
.ml75{margin-left: 75px!important;}

.m1010{margin: 10px 0;}
.m1515{margin: 15px 0;}
.m2020{margin: 20px 0;}

/* 패딩 */
.p10{padding: 10px!important;}
.p20{padding: 20px!important;}
.p30{padding: 30px!important;}

.pt5{padding-top: 5px!important;}
.pt10{padding-top: 10px!important;}
.pt15{padding-top: 15px!important;}
.pt20{padding-top: 20px!important;}
.pt25{padding-top: 25px!important;}
.pt30{padding-top: 30px!important;}

.pr5{padding-right: 5px!important;}
.pr10{padding-right: 10px!important;}
.pr15{padding-right: 15px!important;}
.pr20{padding-right: 20px!important;}
.pr25{padding-right: 25px!important;}
.pr30{padding-right: 30px!important;}

.pb5{padding-bottom:  5px!important;}
.pb10{padding-bottom: 10px!important;}
.pb15{padding-bottom: 15px!important;}
.pb20{padding-bottom: 20px!important;}
.pb25{padding-bottom: 25px!important;}
.pb30{padding-bottom: 30px!important;}

.pl5{padding-left: 5px!important;}
.pl10{padding-left: 10px!important;}
.pl15{padding-left: 15px!important;}
.pl20{padding-left: 20px!important;}
.pl25{padding-left: 25px!important;}
.pl30{padding-left: 30px!important;}

.p1010{padding: 10px 0;}
.p1515{padding: 15px 0;}
.p2020{padding: 20px 0;}

/* 버튼 시리즈 */
.btn_styl1{/*10*/
	display: inline-block;
	background-color: black;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	color: white;
	line-height: 18px;
}
.btn_styl2{/*15*/
	display: inline-block;
	background-color: black;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	color: white;
	line-height: 18px;
}
.btn_styl3{/*20*/
	display: inline-block;
	background-color: black;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	color: white;
	line-height: 18px;
}



