@charset "utf-8";

*{box-sizing: border-box;}
body,html{
    width: 100%; height: 100%!important;
    background-color: #f5f5f5;
    position: relative;
    min-width: 1280px!important;
    min-height: 900px;
}
#header{
    position: relative;
    width: 100%; height: 111px;
    z-index: 1;
}
#header .topArea{
    width: 100%; height: 66px;
    margin: 0 auto;
    display: block;
    position: relative;
}
#header .topArea .left{}
#header .topArea .left h1{
    width: 179px; height: 36px;
    position: absolute;
    top: 18px; left: 50px;
}/*
#header .topArea .team_box{
    position: absolute;
    top: 23px; left: 194px;
    background-image: url(../IMG/team.png);
    width: 164px;
    height: 22px;
    padding-left: 10px;
}
#header .topArea .team_box .name{
    float: left;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
}
#header .topArea .team_box .name .position{
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
}
#header .topArea .team_box .post{
    float: left;
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
    line-height: 20px;
}
*/
.user_wrap {
    position: absolute;
    top: 0; right: 50px;
    height: 100%;
    padding: 18px 0;
    box-sizing: border-box;
}
.user_wrap .name {
    font-size: 18px;
    font-weight: 500;
    float: left;
    line-height: 30px;
}
.user_wrap .team {
    font-size: 18px;
    font-weight: 400;
    float: left;
    margin: 0 10px;
    line-height: 30px;
}
.user_wrap .logout_btn {
    background-image: url(../IMG/logout.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left center;
    float: left;
    height: 30px;
    width: 30px;
    text-indent: -99999px;
}
#header .gnbArea{
    width: 100%; height: 45px;
    position: relative;
    display: block;
    background-color: #047bc2;
}
#header .gnbArea ul{
    width: 100%; 
    height: 45px;
    padding: 0 50px; box-sizing: border-box;
}
#header .gnbArea ul li{ 
    width: 14.285%;
    float: left;
}
#header .gnbArea ul li a{
    float: left;
    width: 100%;
    color: #fff;
    line-height: 45px;
    text-align: center;
    height: 100%;
}
#header .gnbArea ul li a:hover{
    background-color: rgba(0, 0, 0, 0.18);
}
#contens{
    position: absolute;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    margin: 0 auto;
    display: block;
    padding: 131px 20px 0 20px;
    box-sizing: border-box;
}
.contens:after{
	content: "";
	display: block;
	clear: both;
}

/* 박스 공통 CSS */
.contens_box{
    float: left;
    background-color: white;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(137,137,137,0.1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(137,137,137,0.1);
    box-shadow: 5px 5px 5px 0px rgba(137,137,137,0.1);
    box-sizing: border-box;
    position: relative;
    margin-right: 20px;
}
.box_title{
    float: left;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eee;
}
.contens_li>.box_title>strong,
.issue_box>.box_title>strong{
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    padding-left: 5px;
    font-size: 16px; font-weight: 600;
    color: #000;
}
.contens_li>.box_title>.count{
    position: absolute;
    left: 70px;
    top: 10px;
    padding: 3px 7px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #047bc2;
    color: #fff;
}
.progr-box>.box_title>.count{
    left: 100px;
}
.contens_li>.box_title>.btn_more,
.issue_box>.box_title>.btn_more{
    position: absolute;
    right: 7px; top: 11px;
    width: 17px; height: 17px;
}
.contens_li>.box_title>.btn_refre,
.issue_box>.box_title>.btn_refre{
    position: absolute;
    right: 30px; top: 11px;
    width: 17px; height: 17px;
}

.contens_li>ul{
    float: left;
    width: 100%; height: 100%;
    overflow: hidden;
    padding: 10px; box-sizing: border-box;
}
.contens_li>ul>li{
    width: 100%; float: left;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.contens_li>ul>li>a{
    float: left; width: 100%;
    box-sizing: border-box;
}
.contens_li>ul>li>a>p{
    float: left;
    width:calc(100% - 210px);
    font-size: 13px;
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    line-height: 35px;
}
.contens_li>ul>li>a>span{
    float: left;
    font-size: 13px;
    line-height: 35px;
    color: #898989;
    margin-right: 10px;
    text-align: center;
}
.contens_li>ul>li>a>.name{
    width: 55px
}
.contens_li>ul>li>a>.date{
    width: 70px
}
.contens_li>ul>li>a>.time{
    width: 60px;
    margin-right: 0;
}
.contens_li>ul>li>a:hover p,
.contens_li>ul>li>a:hover span{
    font-weight: bold;
    color: #000;
    box-sizing: border-box;
}
.contens_li>ul>li>a>.state{font-weight: bold; width: 60px;}
.contens_li>ul>li>a>.state.on{
    color: #047bc2;
}
.last_box{margin-right: 0!important;}

.my_area{
    width: 25%; height: 204px;
    margin-bottom: 12px;
}
.my_area>button{
    display: inline-block;
    float: right;
    width: 17px; height: 17px;
    text-indent: -99999px;
    margin-top: 5px;
}
.my_area>button.btn_logout{
    background: url(../IMG/logout.png) center 100%;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.my_area>button.btn_setting{
    background: url(../IMG/setting.svg) center 100%;
    margin-right: 3px;
}
.my_area button a{
    display: block;
    width: 100%; height: 100%;
    cursor: pointer;
}
.my_area .user_info{
    display: block;
    width: 132px; height: auto;
    margin: 0 auto;
    padding-top: 40px;
}
.my_area .user_info>.user_img{
    display: block;
    width: 80px; height: 80px;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    position: relative;
}
.my_area .user_info>.user_img>img{
    display: block;
    width: 100%; height: auto;
    position: absolute;
    left: 0; top: -5px;
}
.my_area .user_info .user_name{
    float: left;
    font-size: 30px;
    margin-top: 7px;
    margin-right: 3px;
}
.my_area .user_info .user_depart{
    float: left;
    font-size: 16px;
    line-height: 16px;
    margin-top: 7px;
    color: #898989;
}
.my_area .user_info .user_rank{
    float: left;
    font-size: 16px;
    line-height: 16px;
}

.issue_box{
    width: 25%;
    height: 204px;
    margin-bottom: 20px;
}
.issue_box>ul.minibox{
    float: left;
    width: 100%; height: 392px;
    padding: 10px;
    box-sizing: border-box;
}
.minibox>li{
    float: left;
    width: calc(34% - 13.33px);
    height: 146px;
    border: 1px solid #047bc2;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    /*아이콘에 대한 설정*/
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center 20px;
}
.minibox>li:nth-child(3),
.minibox>li:nth-child(6){
    margin-right: 0;
}
.minibox>li:nth-child(1){
    background-image: url(../IMG/minibox-1.svg);
}
.minibox>li:nth-child(2){
    background-image: url(../IMG/minibox-2.svg);
}
.minibox>li:nth-child(3){
    background-image: url(../IMG/minibox-3.svg);
}

.minibox>li>a{
    float: left;
    width: 100%; height: 100%;
}
.minibox>li>a>.title{
    position: absolute;
    left: 0; top: 62px;
    display: block;
    width: 100%;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
}
.minibox>li>a>.count{
    position: absolute;
    left: 50%; top: 118px;
    text-align: center;
    width: 60px; height: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 50px;
    line-height: 23px;
    background-color: #047bc2;
    color: #fff;
}
.minibox>li>a>.count>.num{
    font-weight: bold;
}
.infor_list{
    width: 260px; height: 201px;
    margin-bottom: 12px;
}
.infor_list ul{
    display: inline-block;
    width: 100%; height: auto;
}
.infor_list ul li{
    display: inline-block;
    width: 100%; height: 40px;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.infor_list ul li:last-child{
    margin-bottom: 0;
}
.infor_list ul li a{
    float: left; 
    font-size: 14px; line-height: 36px;
    
}
.infor_list ul li a img{
    display: inline-block;
    float: left;
    width: 40px; height: 40px;
    margin-right: 15px;
}
.infor_list ul li p{
    display: inline-block;
    float: left;
    font-size: 13px; line-height: 36px;
}
.infor_list ul li p.txt{
    width: 128px;
}
.infor_list ul li p.UnreadNumWrap{
    color: #898989;
}
.infor_list ul li p.UnreadNumWrap span{
    font-weight: bold;
    color: #000;
}
.infor_list ul li:hover p,
.infor_list ul li:hover p span{
    color: #047bc2; font-weight: bold;
}

.schedule-box,.appro-box{
    width: calc(37.5% - 20px); height: 204px;
    float: left; overflow: hidden;
    margin-bottom: 20px;
    
}
.notice-box,.progr-box{
    width: calc(37.5% - 20px); height: 204px;
    float: left; overflow: hidden;
    margin-bottom: 20px;
    margin-right: 0;
}
.appro-box>ul>li>a>p,
.progr-box>ul>li>a>p{
    width:calc(100% - 276px);
}

/* 표 */
.cont-b{
    float: left;
    width: 100%; height: calc(100% - 460px);
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.cont-b>.button_box{
    float: right;
    margin-bottom: 10px;
}
.cont-b>.button_box>ul{
    overflow: hidden;
}
.cont-b>.button_box>ul>li{
    float: left;
    margin-right: 7px;
}
.cont-b>.button_box>ul>li:last-child{margin-right: 0;}
.cont-b>.button_box>ul>li>a{
    float: left;
    width: 100%; height: 100%;
    color: #fff;
    background-color: #047bc2;
    font-size: 16px;
    padding: 7px 15px;
    box-sizing: border-box;
    transition: all 0.5s;
}
.cont-b>.button_box>ul>li>a:hover{
    background-color: #03629B;
}
.cont-b>.table_box{
    float: left; width: 100%;
}
.cont-b>.table_box table{
    float: left; width: 100%;
    display: block;
}
.cont-b>.table_box table thead{
    float: left; 
    width: 100%; height: 43px;
    overflow: hidden;
    border-top: 2px solid #047bc2;
    border-bottom: 1px solid #047bc2;
    box-sizing: border-box;
    
}
.cont-b>.table_box table thead tr{
    float: left;
    width: 100%; height: 50px;
    border-collapse: collapse;
}
.cont-b>.table_box table thead tr th{
    float: left; 
    line-height: 39px;
}
.cont-b>.table_box table tbody{
    display: block;
    float: left; width: 100%;
    
}
.cont-b>.table_box table tbody tr{
    float: left;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    color: #898989;
}
.cont-b>.table_box table tbody tr:hover{
    background-color: #f2f8fc;
}

.cont-b>.table_box table tbody tr:hover{
    color: #000;
}
.cont-b tr, .cont-b th,.cont-b td{
    box-sizing: border-box;
    font-size: 14px; height: 100%;
    text-align: center;
    line-height: 40px;
    border-collapse: collapse;
}
.cont-b>.table_box table tbody tr th,
.cont-b>.table_box table tbody tr td{float: left; height: 40px;}

.cont-b>.table_box table thead tr th:nth-child(1),
.cont-b>.table_box table tbody tr th:nth-child(1){width: 9%;}
.cont-b>.table_box table thead tr th:nth-child(2),
.cont-b>.table_box table tbody tr td:nth-child(2){width: 3.1%;}
.cont-b>.table_box table thead tr th:nth-child(3),
.cont-b>.table_box table tbody tr td:nth-child(3){width: 3.1%;}
.cont-b>.table_box table thead tr th:nth-child(4),
.cont-b>.table_box table tbody tr td:nth-child(4){width: 3.1%;}
.cont-b>.table_box table thead tr th:nth-child(5),
.cont-b>.table_box table tbody tr td:nth-child(5){width: 3.1%;}
.cont-b>.table_box table thead tr th:nth-child(6),
.cont-b>.table_box table tbody tr td:nth-child(6){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(7),
.cont-b>.table_box table tbody tr td:nth-child(7){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(8),
.cont-b>.table_box table tbody tr td:nth-child(8){width: 3.1%;}
.cont-b>.table_box table thead tr th:nth-child(9),
.cont-b>.table_box table tbody tr td:nth-child(9){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(10),
.cont-b>.table_box table tbody tr td:nth-child(10){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(11),
.cont-b>.table_box table tbody tr td:nth-child(11){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(12),
.cont-b>.table_box table tbody tr td:nth-child(12){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(13),
.cont-b>.table_box table tbody tr td:nth-child(13){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(14),
.cont-b>.table_box table tbody tr td:nth-child(14){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(15),
.cont-b>.table_box table tbody tr td:nth-child(15){width: 3.1%;}
.cont-b>.table_box table thead tr th:nth-child(16),
.cont-b>.table_box table tbody tr td:nth-child(16){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(17),
.cont-b>.table_box table tbody tr td:nth-child(17){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(18),
.cont-b>.table_box table tbody tr td:nth-child(18){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(19),
.cont-b>.table_box table tbody tr td:nth-child(19){width: 5%;}
.cont-b>.table_box table thead tr th:nth-child(20),
.cont-b>.table_box table tbody tr td:nth-child(20){width: 7%;}
.cont-b>.table_box table thead tr th:nth-child(21),
.cont-b>.table_box table tbody tr td:nth-child(21){width: 5%;}

@media screen and (max-width:1650px){
    .minibox>li>a>.title{
        font-size: 12px;
        line-height: 14px;
    }
}
@media screen and (max-width:1480px){
    .minibox>li>a>.title{
        padding: 0 3px;
    }
}
