@charset "utf-8";

/* ν—¤λ” */
.Wrap{
    width: 100%; min-width: 1280px;
}
header{
    width: 100%;
    height: 109px;
}
header>.top-wrap{
    width: 100%; height: 64px;
}
header>.top-wrap>.inner{
    width: 100%; height: 100%;
    padding: 0 37px;
    box-sizing: border-box;
}
header>.top-wrap>.inner>.logo_box{
    float: left;
}
header>.top-wrap>.inner>.logo_box>.logo{
    float: left;
    width: 113px; height: 20px;
    text-indent: -9999px;
}
header>.top-wrap>.inner>.logo_box>.logo>a{
    float: left;height: 100%; width: 100%;
    padding: 22px 0 ;
    background: transparent url(../IMG/tccsteel-logo.svg) no-repeat center center;
}
header>.top-wrap>.inner>.logo_box>h3{
    float: left;
    line-height: 64px;
    margin-left: 20px;
    font-size: 15px; color: #444;
}
header>.top-wrap>.inner>.logo_box>h3>span{
    float: left;
    color: #2466c1;
}
header>.top-wrap>.inner>.logo_box>button{
    float: left;
    margin: 23px 0;
    width: 18px; height: 18px;
    text-indent: -999px;
    border: none;
    background: transparent url(../IMG/question.svg) no-repeat center center;
    margin-left: 5px;
}
header>.top-wrap>.inner>.user_info{
    float: right;
    height: 18px;
    padding: 23px 0;
}
header>.top-wrap>.inner>.user_info>.name{float: left;}
header>.top-wrap>.inner>.user_info>.name>strong{
    float: left; font-weight: bold;
}
header>.top-wrap>.inner>.user_info>button{
    float: left;
    height: 18px; width: 18px;
    text-indent: -9999px;
    border: none; background-color: transparent;
    background-image: url(../IMG/logout.png);
    margin-left: 8px;
}
header>.gnb_area{
    width: 100%; height: 45px;
    background-color: #114A97;
    padding: 0 37px;
    box-sizing: border-box;
}
header>.gnb_area>.gnb{width: 100%; height: 100%;}
header>.gnb_area>.gnb>ul{width: 100%; height: 100%;}
header>.gnb_area>.gnb>ul>li{float: left;}
header>.gnb_area>.gnb>ul>li>a{
    float: left; 
    padding: 14px 22px; 
    box-sizing: border-box;
    color: #fff; text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}
header>.gnb_area>.gnb>ul>li>a:hover{
    background-color: rgba(0, 0, 0, 0.3)
}
/* ν‘Έν„° */
footer{
    height: 29px; width: 100%;
    background-color: #EEEEEE;
    padding: 0 38px; box-sizing: border-box;
    position: fixed;
    bottom: 0; right: 0;
}
footer>.inner>p{
    float: right;
    line-height: 29px;
    font-size: 12px;
    color: #898989;
    padding-left: 85px; box-sizing: border-box;
    background:url(../IMG/tccsteel-logo-footer.svg) no-repeat 9px center;
    background-size: 66px;
    
}