@charset "utf-8";

/* Layout */
.wrap{ }

.wrap .wrap-header{
    width: 100%; height: 128px;
    border-bottom: 1px solid #14599c;
}
.wrap .wrap-header .header{
    width: 1180px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.wrap .wrap-container{ 
    height: 970px;
}

.wrap .wrap-container .main-visual{
    background-image: url(../images/main_paten.png);
    /*background-repeat: no-repeat;*/
    background-position: 0 0;
    height: 520px;
    border-bottom: 1px solid #727272;
}

.wrap .wrap-container .area-quickMenu{
    width: 1180px;
    margin: 0 auto;
}

.wrap .wrap-container .area-main{ 
    width: 1180px; 
    margin: 0 auto;
}

.wrap .footer-section{ 
    background-color: #686d70;
}
.footer2{
    margin-top: 100px;
}

/* 로그인,회원가입,사이트맵,로고 */
.wrap-header .wrap-nav{ 
    width: 100%; height: 37px;
    border-bottom: 1px solid #d9d4da;
}

.wrap-header .wrap-nav .nav{
    width: 1180px; margin: 0 auto;
}

.wrap-header .wrap-nav .nav ul{ 
    float: right;
}

.wrap-header .wrap-nav .nav ul li{ 
    border-right: 1px solid #ddd8de;
    float: left;
    padding: 0 10px 0 30px;
    font-size: 13px;
    line-height: 37px;
}

.wrap-header .wrap-nav .nav ul .nav01{
    background-image: url(../images/nav01.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.wrap-header .wrap-nav .nav ul .nav02{
    background-image: url(../images/nav02.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.wrap-header .wrap-nav .nav ul .nav03{
    background-image: url(../images/nav03.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.wrap-header .wrap-nav .nav ul li a{color: #777;}

.header .logo{ 
    float: left;
    margin-top: 30px;
    margin-right: 125px;
}

/* gnb */
.header .gnb{ float: left;}

.header .gnb>li{ 
    float: left;
    height: 90px;
    padding: 0 32px;
}

.header .gnb>li>a{ 
   position: relative;
    font-size: 20px; color: #3b3b3b;
    display: block;
    padding: 31px 0;
}
.header .gnb>li>a:hover{ 
    color: #11b6af;
}

.header .gnb>li .bar{
   background-color: #11b6af;
   position: absolute;
   width: 0;
   height: 6px;
   top: 85px; left: 0;
}

/* 서브메뉴 */

.area-gnbImage{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}
.area-gnbImage>div{ 
    position: absolute; left: 120px; top: 50px;
    display: none;
    
}

.wrap-header .subGnb{
    background-color: #fff;
    height: 220px; width: 100%;
    border-bottom: 2px solid #009e82;
    position: absolute;
    left: 0; top: 129px;
    z-index: 10;
    display: none;
} 

.header .gnb .sub-menu{ 
    display: block;
    position: absolute;
    padding-top:35px;
    z-index: 20;
    font-size: 15px;
    line-height: 1.867em;
}

.header .gnb .sub-menu li a{
    color:#757575;
}

.header .gnb .sub-menu li a:hover{
    color: #18b4b4;
    text-decoration:underline;
}


/* 검색 */
.wrap-mainSearch{
    position: absolute;
    right: 0; top: 20px;

}

.wrap-mainSearch legend{
    font-size: 0; line-height: 0;
    width: 0; height: 0; overflow: hidden;
    visibility: hidden;
    text-indent: -9999px;
    position: absolute;
    left: -9999px;
}

.wrap-mainSearch input{ 
    box-sizing: border-box;
    width: 157px; height: 40px; padding: 10px; 
    font-size: 14px;
    float: left;
}
.wrap-mainSearch .searchBtn{
    background-color: #28b1c1;
    color:#fff;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 39px;
    border: 1px solid #007fb5;
    float: left;
    cursor: pointer;
}

.wrap-mainSearch .searchBtn span{ 
    text-indent: -9999px; position: absolute;}
.wrap-mainSearch .searchBtn .fa-search{}

.quick-search{
    position: absolute;
    top: 90px;right: 0;
    width: 720px;
    border: 4px solid #01417f;
    background-color: #fff;
    display: none;
    z-index: 60;
    padding: 10px 15px;
}

.quick-search .btn-close{
    display: inline-block;
    width: 30px; height: 30px;
    background: url(../images/search_close.png) no-repeat 0 0;
    text-indent: -9999px;
    float: right;
}

.search-tab-list li{
    cursor: pointer;
    float: left;
    width: 170px; height: 50px;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}
.search-tab-list li:first-child{
    border-left: 1px solid #eee;
}

.search-tab-list li.selected{
    background-color: #009fe3;
    color: #fff;
    transition: all .5s;
}

.search-list-content{
    clear: left;
    padding: 20px 0;
}

.search-list-content>div{
    display: none;  
    font-size: 48px;
} 
.search-list-content>div>.table-hoz{
    width: 100%;
    border-top: 2px solid #697c9d;
}
.table-hoz th{
    padding: 15px 10px;
    line-height: 1.2em;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    background-color: #f7f8fa;
    border-bottom: 1px solid #d6d6d6;
}
.toggle{
    background: #f7f7f7;
    text-align: left !important;
    padding: 20px 30px;
    color: #666;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    word-break: break-all;
}
.table-hoz td{
    padding: 15px 10px;
    line-height: 1.2em;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
    color: #999;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
}
.table-hoz td a{
    font-size: 15px;
    color: #535353;
    display: inline-block;
    line-height: 1.5;
}
.tr-show{
    display: table-row;
    background-color: #f7f7f7;
    text-align: left;
    padding: 20px 30px;
    color: #666;
}
.wrap-searchText{
    height: auto;
    max-height: 70px;
    overflow-y: auto;
    line-height: 1.5;
}
pre{
    width: 100%;
    overflow: hidden;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
    color: #999;
}
.btn-search{
    background-color: #5b5b5b;
    border: 1px solid #474747;
    font-size: 13px;
    color: #fff;
    width: auto;
    padding: 0 10px;
    height: 30px;
}
/* 돋보기 안에 표*/
.pagination{
    box-sizing: border-box;
    margin: 20px auto;
    text-align: center;
    height: 30px;
    width: 319px;
}
.pagination3{
    width: 193px;
}
.pagination li{
    float: left;
    text-align: center;
    width: 28px; height: 28px;
    margin: 0 2px;
    vertical-align: top;
}
.pagination li:nth-child(2){
    margin-right: 20px;
}
.pagination li:nth-child(3){
    background: none;
}
.pagination li:nth-last-child(2){
    margin-left: 15px;
}
.pagination li a{
    display: block;
    height: 100%;
    line-height: 26px;
    color: #909090;
    font-size: 12px;
    font-weight: 400;
}
.pagination.active a{
    color: #18b4b4;
}
.pagination li a img{
    width: 28px; height: 28px;
    box-sizing: border-box;
    max-width: none;
}
.pagination .pagination-item{
    position: relative;
    margin-left: -3px;
    background: url(../images/pagination.png)no-repeat center left;
}
.pagination .active{
    border: 1px solid #d8d8d8;
    background: none !important;
    box-sizing: border-box;
}
.search-list-content .quickSearch-cont01{display: block;} 

/* 메인비주얼 */
.wrap-container .main-visual .container{
    width: 1180px; height: 100%;
    margin: 0 auto;
}
 

.section01{position: relative; width: 1180px; height: 520px; overflow: hidden;}

.section01>div{
   position: relative;
   height: 100%;
   float: left;
   width: 270px;
}
.section01>div.firstOpen{width: 640px;}
.section01>div.firstOpen .content-hide{left: 0;}

.section01>div.current .content-quick{z-index: 1;}
.section01>div.current .content-hide{z-index: 2;}

.section01 .left-content{ float: left;}
.section01 .left-content-hide{float: left;}
.section01 .center-content{ float: left;}
.section01 .center-content-hide{ float: left;}

.section01 .right-content{ float: left;}
.section01 .right-content-hide{ float: left;}

.section01>div.firstOpen{width: 640px;}
.section01>div.firstOpen .content-hide{left: 0;}

.section01 .content-quick{
   position: absolute;
   z-index: 2;
   width: 270px; height: 100%;
}
.section01 .content-hide{
	position: absolute;
	z-index: 1;
	width: 640px; height: 100%;
	left: 270px;
	padding: 70px 55px;
}
.section01 div .content-quick h2{
	font-size: 28px;
	font-weight: 400;
	color: #fff;
	line-height: 1.3;
	text-align: center;
	margin-top: 70px;
}
.section01 div .content-quick button{
	width: 47px; height: 47px;
	border:2px solid rgba(255,255,255,0.6);
	background-color: transparent;
	border-radius: 50%;
	margin: 25px 111px;
	box-sizing: border-box;
	text-indent: -9999px;
	background-image: url(../images/main_arrow.png);
	background-repeat: no-repeat;
	background-position: center;
}
.section01 div .content-hide h2{
	font-size: 37px;
	font-weight: bold;
}
.section01 div .content-hide .h2_h{
	color: #098a73 !important;
}
.section01 div .content-hide p{
	font-size: 16px;
	font-weight: 400;
	color: #777;
	line-height: 1.5;
	margin: 8px 0 0 0;
	letter-spacing: -1px;
}
.section01 div .content-hide p span{
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: #0771cb;
	margin-bottom: 10px;
}
.section01 div .content-hide .main-quick{
	margin-top: 15px;
}
.section01 div .content-hide .main-quick li{
	width: 100%;
	height: 44px;
	margin-top: 11px;
}
.section01 div .content-hide .main-quick li a{
	display: block;
	width: 180px;
	height: 44px;
	font-size: 16px;
	line-height: 44px;
	color: #5f6e79;
	border: 1px solid #c9c9c9;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 170px center;
	margin-right: 5px;
	text-align: left;
	padding-left: 15px;
}
.section01 .left-content{
   background-image: url(../images/main_icon01.png);
}
.section01 .left-content-hide{
   background-image: url(../images/left_content.png);
}

.section01 .center-content{
   background-image: url(../images/main_icon02.png);
}
.section01 .center-content-hide{
   background-image: url(../images/center_content.png);
}

.section01 .right-content{
   background-image: url(../images/main_icon03.png);
}
.section01 .right-content-hide{
   background-image: url(../images/right_content.png);
}


/* 퀵메뉴영역 */
.area-quickMenu .quick-menu{ padding-top: 33px;}
.area-quickMenu .quick-menu:after{
    content: "";
    display: block;
    clear: both;
}

.area-quickMenu .quick-menu li{
    float: left;
    width: 12.5%; height: 140px;
    position: relative;
}

.area-quickMenu .quick-menu li a{
    display: block;
    width: 88px; height: 88px;
    margin: 0 auto; 
    background: url(../images/icon.png) no-repeat left top;
    transition: all 0.5s;
}
.area-quickMenu .quick-menu .icon01 a{}
.area-quickMenu .quick-menu .icon01 a:hover{background-position: 0 -90px;}

.area-quickMenu .quick-menu .icon02 a{background-position: -90px 0;}
.area-quickMenu .quick-menu .icon02 a:hover{background-position: -90px -90px;}

.area-quickMenu .quick-menu .icon03 a{background-position: -180px 0;}
.area-quickMenu .quick-menu .icon03 a:hover{background-position: -180px -90px;}

.area-quickMenu .quick-menu .icon04 a{background-position: -270px 0;}
.area-quickMenu .quick-menu .icon04 a:hover{background-position: -270px -90px;}

.area-quickMenu .quick-menu .icon05 a{background-position: -360px 0;}
.area-quickMenu .quick-menu .icon05 a:hover{background-position: -360px -90px;}

.area-quickMenu .quick-menu .icon06 a{background-position: -450px 0;}
.area-quickMenu .quick-menu .icon06 a:hover{background-position: -450px -90px;}

.area-quickMenu .quick-menu .icon07 a{background-position: -540px 0;}
.area-quickMenu .quick-menu .icon07 a:hover{background-position: -540px -90px;}

.area-quickMenu .quick-menu .icon08 a{background-position: -630px 0;}
.area-quickMenu .quick-menu .icon08 a:hover{background-position: -630px -90px;}

.area-quickMenu .quick-menu li a span{
    position: absolute;
    left: 0; top: 100px;
    width: 100%;
    text-align: center;
}


/* 콜센터 */
.area-main .area-callCenter{
    background-image: url(../images/callCenter.gif);
    float: left;
    width: 321px; height: 243px;
    text-indent: -9999px;
}

/* 공지사항영역 */
.area-main .area-notice{
    float: left;
    width: 470px; height: 212px;
    padding-top: 31px;
    padding-right: 34px;
    padding-left: 34px;
    position: relative;
}

.area-main .area-notice h3{
    margin-bottom: 30px;
}

.area-notice .main-board{

}
.area-notice .main-board ul{}
.area-notice .main-board ul li{
   height: 28px;
}
.area-notice .main-board ul li a{ 
    float: left;
    width: 315px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}


.area-notice .main-board ul li .date{ 
    float: right; 
    font-size: 10px;
}
.area-notice .btn-more{
    position: absolute;
    right: 34px;
    top: 31px;
}

/* 배너영역 */

.sliderBanner{
	position: relative; width: 100%;
}

.sliderBanner>li{
	position: absolute;
	top: 0; left: 0;
	width: 320px; height: 100%;
}
.area-main .area-banner{
    float: left;
    width: 321px;
	position: relative;
}
.area-banner .slideBtn{
	position: absolute;
	top: 19px;
	right: 19px;
	z-index: 3;
}
.area-banner .slideBtn li{
	float: left;
	margin-right: 3px;
}
.area-banner .slideBtn li button{
	background-color: #c3c7ca;
	width: 9px;
	height: 9px;
	border-radius: 10px;
	text-indent: -9999px;
}

.slideBtn li.selected button{
	width: 29px;
	border-radius: 10px;
	background-color: #75828b;
}


/* sub layout */
.container{ 
    width: 1180px;
    margin: 0 auto;
}
.container:after{
	content: "";
	display: block;
	clear: both;
}
.container .sidebar{ 
    width: 220px;
    float: left;
    margin-right: 60px;
}

.container .content{ 
    width: 900px;
    float: left;
}
.container .content:after{
    content: "";
    display: block;
    clear: both;
}

/* container sidebar */

.sidebar h2{
    background-color: #4ac1c7;
    width: 190px; height: 60px;
    padding-top: 115px;
    padding-left: 30px;
    color: #fff;
    font-size: 30px;
    letter-spacing: -4px;

}
.sidebar .lnb{}

.sidebar .lnb>li>a{
    display: block;
    padding-left: 30px;
    border-bottom: 1px solid #d2d2d2; 
}
.sidebar .lnb .m1{ }

.sidebar .lnb>li>a{
    line-height: 52px;
    display: block;
}

.sidebar .sub-lnb li a{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: #757575;
    line-height: 30px;
    padding-left:42px;
    box-sizing: border-box;
    
}


.sidebar .lnb li a:hover{}

.sidebar .lnb>li.on{
   border-bottom: 3px solid #4ac1c7;
}

.sidebar .lnb>li>a.on{
    background-color: #f8f8f8;
    color: #4ac1c7;
}

.sidebar .sub-lnb li.on a{
    text-decoration: underline;
    color: #4ac1c7;
}


/* container content */
.content .title_area{
    background: #fff url(../images/intro_bg.png)no-repeat top right 9px;
}

.content .lgstrsurv-bg{
     background-image: url(../images/lgstrsurv_bg.png);
}

.content .title_area .location,
.title_area .location{
    height: 24px;
    margin-right: 30px;
    padding-top: 65px;
}
.content .title_area .location ul{ overflow: hidden;}
.content .title_area .location ul li{ 
    display: inline-block; margin-right: 7px;
}
.content .title_area .location ul li:after{ 
    content: "";
    display: inline-block;
    width: 4px; height: 7px;
    background: url(../images/pageroute.png) no-repeat 0 0;
    margin-left: 7px;
}

.content .title_area .location ul li:last-child:after{
    background-image: none;
}
.content .title_area .location ul li a{
    font-size: 14px;
}

.content .title_area .location a.home{
    display: inline-block;
    width: 14px;
    background: url(../images/home.png) no-repeat 0 center;
    text-indent: -9999px;
}

.content .title_area h3{
    font-size: 36px;
    font-weight: 600;
    padding: 20px 0 18px 0;
    letter-spacing: -3px;
    color: #424242;

}
.content .title_area p{
    font-size: 15px;
    font-weight: 400;
    color: #797979;
    line-height: 1.364em;
    letter-spacing: -2px;
    padding-bottom: 18px;
}

.content .title_area strong{
    color: #009c87;
}

.content .introImg{
    width: 700px; height: 524px;
    margin: 50px 0 50px 100px;
    background-image: url(../images/intro_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    font-size: 22px;
    line-height: 1.182em;
}

.content .introImg .p1{ 
    position: absolute; left: 260px;
    text-align: center;
}
.content .introImg .p2{
    position: absolute; top: 425px;
}
.content .introImg .p3{
    position: absolute; 
    top: 425px;
    right: 0;
}

.content .subCon_txt{
    margin-top: 50px;
    margin-bottom: 100px;
}

.content .subCon_txt dt{
    display: block;
    background:url(../images/title_icon.png)no-repeat top 9px left;
    font-size: 20px;
    font-weight: 500;
    color: #4ac1c7;
    padding-bottom: 5px;
    padding-left: 20px;
    letter-spacing: -1px;

}
.content .subCon_txt dd{
    display: block;
    width: 80%;
    font-size: 15px;
    color: #797979;
    margin-left: 0;
    padding: 0 0 30px 20px;
}

/* 지적측량 안내 탭 */
.area-subContent{
    margin-top: 30px;
}
.area-subContent .feeContent-tabList{ /*overflow: hidden;*/}
.area-subContent .feeContent-tabList li{ 
    float: left;
    width: 230px; height: 50px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.area-subContent .feeContent-tabList li.on{
    background-color: #009fe3;
    color: #fff;
}
.area-subContent .area-feeContent{
    clear: left; font-size: 48px; 
    padding-top: 10px;
}
.area-subContent .area-feeContent .area-feeContent01{}
.area-feeContent01 h4{
    margin-bottom: 10px;
    font-size: 26px;
    background: url(../images/h4_bg.png)no-repeat center left;
    padding: 0 0 0 25px;
}
.info_text{
    font-size: 15px;
    color: #757575;
    padding: 45px 180px 45px 230px;
}
.info_text01{
    background: url(../images/info_01.png)no-repeat center left 3px;
}
.subContent-title{
    font-size: 26px;
    background: url(../images/h4_bg.png)no-repeat center left;
    padding: 0 0 0 25px;
    margin-bottom: 10px;
    margin-top: 40px;
}
.area-subContent .area-feeContent .area-feeContent02{ display: none;}
.info_text02{
    background: url(../images/info_02.png)no-repeat center left 11px;
}
.info_text03{
    background: url(../images/info_03.png)no-repeat center left 11px;
}
.subContent-text{
    font-size: 20px;
    padding-bottom: 5px;
    letter-spacing: -1px;
    font-weight: 600;
}
.subContent-text2{
    background: none;
    padding-left: 0;
    color: #436485;
}
.subContent-subText{
    font-size: 15px;
    color: #757575;
    line-height: 1.6;
    padding: 0 0 30px 0;
    letter-spacing: -1px;
}

.m-txt{margin-top: 10px;}
.area-surveyInfo-content{
    width: 100%;
}
.area-surveyInfo-content ul{
    width: 100%;
    margin-top: 30px;
}
.area-surveyInfo-content ul:first-child{
    margin-top: 0;
}
.area-surveyInfo-content ul li{
    float: left;
    width: 280px;
    height: 320px;
    margin-left: 30px;
}
.area-surveyInfo-content ul li:first-child{
    margin-left: 0;
}
.area-surveyInfo-content ul li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px 25px 95px 25px;
    background: url(../images/surveyInfoBtn.png)no-repeat right 28px bottom 30px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
}
.area-surveyInfo-content ul li:hover a{
    background: #11b6af url(../images/surveyInfoBtn_w.png)no-repeat right 28px bottom 30px;
    border: 1px solid #0a9d97;
    padding-top: 34px;
}
.area-surveyInfo-content ul li:hover a dl dt,
.area-surveyInfo-content ul li:hover a dl dd{
    color: #fff;
}
.area-surveyInfo-content .surveyInfo-pop1 li a{
    border-top: 5px solid #11b6af;
}
.area-surveyInfo-content dl dt{
    font-size: 24px;
    font-weight: 600;
    color: #232425;
}
.area-surveyInfo-content dl dd:before{
    position: absolute;
    top: 0; left: 0;
    content: "";
    width: 30px;
    height: 2px;
    background: #eee;
}
.area-surveyInfo-content dl dd{
    position: relative;
    font-size: 12px;
    color: #757575;
    margin: 0;
    margin-top: 15px;
    padding-top: 20px;
    letter-spacing: -1px;
}
.clearFix:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* 푸터영역 */
.footer-section .wrap-footer{ 
    width: 1180px; height: 150px;
    margin: 0 auto;
}

.wrap-footer .ft-logo{
    float: left;
    margin-top: 65px;
}
.wrap-footer .ft-content{ 
    float: left;
    margin-top: 35px;
    margin-left: 60px;
}
.wrap-footer .ft-content .ft-nav{
    height: 30px;
    font-weight: 600;
}
.wrap-footer .ft-content .ft-nav li{ 
    float: left;
    margin-right: 10px;
}
.wrap-footer .ft-content .ft-nav li a{
    color: #d2d8db;
}

.wrap-footer .ft-content .ft-nav li:nth-child(3) a{
    color: #10b7af;
}

.wrap-footer .ft-content .ft-nav li:first-child a{
    color: #10b7af;
}


.wrap-footer .ft-content address{
    font-size: 12px; color: #b1b1b1;
}
.wrap-footer .ft-content .copyright{
    font-size: 12px ; color:  #b1b1b1;
}



.wrap-footer .area-familySite{
   float: right;
}
.wrap-footer .area-familySite select{
   width: 145px;
   height: 28px;
   background-color: #e8e8e8;
   font-size: 12px;
   color: #7c7c7c;
   border: none;
}
.wrap-footer .go{
   width: 38px;
   height: 30px;
   border: 1px solid #444749;
   background-color: #4d5254;
   color: #b1b1b1;
   font-size: 12px;
}
.area_familySite{
	margin-top: 38px;
	float: right;
}
.area_familySite select{
	width: 145px; height: 28px;
	background-color: #e8e8e8;
	font-size: 12px;
	color: #7c7c7c;
	border: none;
	margin-left: 5px;
}
.area_familySite button{
	width: 40px;
	height: 28px;
	border: 1px solid #444749;
	background-color: #4d5254;
	color: #b1b1b1;
	font-size: 12px;
}










