@charset "UTF-8";
span.En{
    display: inline-block!important;
    color: #fff!important;
    letter-spacing: 0!important;
}
/*--------------------------------------*/

.pf_visual{
	min-width: 1920px;/* 메인이미지 크기에 따라 수정 */
}
.pf_visual img{
    filter: brightness(60%);
}
.portfolio_view_cont>.overview>.pf_info>dl dd{
    width: 60%;
    float: left;
}
.portfolio_view_cont>.overview>.pf_info>dl dd.inner{
     line-height: 25px;
}
.section02{
    padding-bottom: 100px;
}
.section02:after{
	background-color: #2160ae;
}
.section04:after{
	height: 100%;
}
.section05{
	padding-top: 50px;
}
.section05:after{
	height: 98%;
    background: #0fb2aa;
}