@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html,body{
    width: 100%; height: 100%;
    background-color: #ECECEC;
    font-family: 'Noto Sans KR', sans-serif;
    
    /* 11/04 추가 */
    display: block;
    height: auto;
    min-height: 100vh;
}
.wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    
    /* 11/04 추가 */
    display: block;
    height: auto;
    overflow: hidden;
}
.wrap .inner h2{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 60px 0 81px 0;
}
.con-box{
    float: left;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.con-box .con{
    float: left;
    width: 100%;
}
.con-box .con h3{
    float: left;
    font-size: 18px;
    font-weight: 400;
}
.con-box .con span{
    float: left;
    color: #D40606;
    font-size: 11px;
    line-height: 18px;
    margin-left: 10px;
}
.con-box .con table{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
.con-box .con table tr{
    float: left;
    width: 100%;
    box-sizing: border-box;
    line-height: 40px;
    border-bottom: 1px solid #EEEEEE;
}
/* 표 너비 */
.con-box .con table tr th:nth-child(1),
.con-box .con table tr td:nth-child(1){width: 10%;}
.con-box .con table tr th:nth-child(2),
.con-box .con table tr td:nth-child(2){width: 15%;}
.con-box .con table tr th:nth-child(3),
.con-box .con table tr td:nth-child(3){width: 15%;}
.con-box .con table tr th:nth-child(4),
.con-box .con table tr td:nth-child(4){width: 15%;}
.con-box .con table tr th:nth-child(5),
.con-box .con table tr td:nth-child(5){width: 45%;}
.con-box .con2 table tr th:nth-child(1),
.con-box .con2 table tr td:nth-child(1){width: 40%;}
.con-box .con2 table tr th:nth-child(2),
.con-box .con2 table tr td:nth-child(2){width: 20%;}
.con-box .con2 table tr th:nth-child(3),
.con-box .con2 table tr td:nth-child(3){width: 20%;}
.con-box .con2 table tr th:nth-child(4),
.con-box .con2 table tr td:nth-child(4){width: 20%;}
.con-box .con table tr.BorderTop{
    border-top: 2px solid #047BC2;
    background-color: #F2F8FC;
}
.con-box .con table tr th{
    float: left;
    box-sizing: border-box;
}
.con-box .con table tr td{
    float: left;
    text-align: center;
}
.con-box .con table tr td input{
    float: left;
    width: 100%; height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 5px;
    text-align: center;
}
.con-box .con table tr td select{
    border: none;
    outline: none;
}
.bottom-but-box{
    width: 100%; height: 45px;
    float: left;
    margin-top: 40px;
    text-align: center;
}
.bottom-but-box button{
    padding: 15px 50px;
    display: block;
    border: none;
    color: #fff;
    background-color: #047BC2;
    box-shadow: inset 0 0 0 0 #036AA8;
    transition: ease-out 0.3s;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    margin: 0 auto;
}
.bottom-but-box button:hover{
    box-shadow: inset 200px 0 0 0 #02438e;
    cursor: pointer;
}
.con2{
    margin-top: 40px;
}
.que-btn{
    position: relative;
    display: inline-block;
}
.que-btn span{
    display: block;
    width:18px; height: 18px;
    background: url(../IMG/que-btn.svg) center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    text-indent: -9999px;
}
/*// tlfgjd */
.arrow_box {
    display: none;
    position: absolute;
    width: 100px;
    text-align: center;
    padding: 8px;
    left: -39px; top: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;  
    border-radius: 8px;
    background: #000;
    color: #fff;
    font-size: 14px;
}

.arrow_box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #000;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}

span:hover + p.arrow_box {
    display: block;
}
.install_btn{
    width: 100%; height: 100%;
    float: left;
    text-align: center;
    padding-top: 6px;
}
.install_btn button{
    padding: 4px 40px;
    display: block;
    border: none;
    color: #fff;
    background-color: #ccc;
    box-shadow: inset 0 0 0 0 #919191;
    transition: ease-out 0.3s;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    margin: 0 auto;
}
.install_btn button:hover{
    box-shadow: inset 200px 0 0 0 #919191;
    cursor: pointer;
}


.install_btn.on button{
    padding: 4px 40px;
    display: block;
    border: none;
    color: #fff;
    background-color: #047BC2;
    box-shadow: inset 0 0 0 0 #036AA8;
    transition: ease-out 0.3s;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    margin: 0 auto;
}
.install_btn.on button:hover{
    box-shadow: inset 200px 0 0 0 #02438e;
    cursor: pointer;
}
.con3{
    margin-top: 70px;
}
.con3 .subm-group-1{
    float: left;
    width: calc(50% - 15px);
    height: 185px;
    position: relative;
}
.subm-group-1 .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: #F2F8FC;
    text-align: center;
}
.subm-group-1 .bg img{
    margin-top: 7px;
}
.subm-footer{
    width: 100%; height: 65px;
    position: absolute;
    bottom: 0; left: 0;
    background-color: #047BC2;
}
.subm-footer .inner{
    width: 311px; height: 45px;
    margin: 0 auto;
    padding-top: 12px;
}
.subm-footer .inner p{
    font-size: 22px;
    color: #fff;
    float: left;
    line-height: 35px;
}
.subm-footer .inner button{
    background-color: #0368A4;
    border: none;
    color: #fff; font-weight: 600;
    padding: 8px 62px 8px 27px;
    margin-left: 8px;
    cursor: pointer;
    background-image: url(../IMG/arrow.svg);
    background-repeat: no-repeat;
    background-position: 107px center;
    font-size: 18px;
    border-radius: 30px;
    box-sizing: border-box;
}

.con3 .subm-group-2{
    float: right;
    width: calc(50% - 15px);
    height: 185px;
    position: relative;
}
.subm-group-2 .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: #F2F8FC;
    text-align: center;
    padding-top: 5px;
}
.subm-group-2 .bg img{
    margin-top: 5px;
}
.subm-group-2 .subm-footer{
    width: 100%; height: 65px;
    position: absolute;
    bottom: 0; left: 0;
    background-color: #00326D;
}
.subm-group-2 .subm-footer .inner{
    width: 297px; height: 45px;
    margin: 0 auto;
}
.subm-group-2 .subm-footer .inner p{
    font-size: 22px;
    color: #fff;
    float: left;
    line-height: 35px;
}
.subm-group-2 .subm-footer .inner button{
    background-color: #002755;
    border: none;
    color: #fff; font-weight: 600;
    padding: 8px 62px 8px 27px;
    margin-left: 8px;
    cursor: pointer;
    background-image: url(../IMG/arrow.svg);
    background-repeat: no-repeat;
    background-position: 107px center;
    font-size: 18px;
    border-radius: 30px;
    box-sizing: border-box;
}










