@charset "utf-8";

#wrap{
	width: 100%;
}
#wrap:after{
	content: "";
	display: block;
	clear: both;
}
/* header ----------------------------*/
#header{
	position: relative;
	max-width: 1181px;
	margin: 0 auto;
}
#header h1{
	padding-top: 16px;
	padding-bottom: 15px;
}
/* 줌기능 -----------------------------*/
#header .zoom{
	position: absolute;
	top: 38px; left: 241px;
}
#header .zoom li{
	float: left;
	font-weight: bolder;
	margin-left: 3px;
}
#header .zoom li a{}

/*  회원가입 사이트맵 코리아 -------------*/
#header .top_menu_area{
	position: absolute;
	top: 38px; right: 0;
}
#header .top_menu_area li{
	float: left;
	color: #a1a1a1;
}
#header .top_menu_area li a{
	margin-left: 15px;
}
#header .top_menu_area li a .fa-angle-down{
	margin-left: 4px;
}
/* 컨테이너 ----------------------------*/
#container{
	position: relative;
	height: 100%; width: 100%;
}
#container:after{
	content: "";
	display: block;
	clear: both;
}
#container>#visual_main{}

/* 상단 메뉴 ---------------------------*/
#container #visual_main>#gnb_inner{
	position: absolute;
	height: 101px;
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	z-index: 1;
}

#container #visual_main #gnb_inner:after{
	content: "";
	display: block;
	clear: both;
}
#gnb_inner>nav{
	position: absolute;
	top: 0; left: 50%;
	max-width: 1181px;
	margin-left: -590px;
	z-index: 10;
}
#gnb_inner>nav>ul{}
#gnb_inner>nav>ul>li{
	float: left;
	margin-right: 61px;
	padding: 39px 0;
	box-sizing: border-box;
}
#gnb_inner>nav>ul>li:hover{
	border-bottom: 4px solid #408de4;
}
#gnb_inner>nav>ul>li:last-child{
	margin-right: 0;
	padding: 28px 0;
	border-bottom: 0;
}
#gnb_inner>nav>ul>li>a{
	font-size: 20px;
	font-weight: bold;
	padding: 39px 0;
	letter-spacing:-1px;
	color: #000;
}
#gnb_inner>nav>ul>li>a img{}

/* 상단메뉴 보조메뉴 --------------------*/
#gnb_inner .nav_bg{
	background-color:#fff;
	height: 264px;
	position: relative;
	top: 102px;
	border-bottom: 2px solid #408de4;
	display: none;
}
#gnb_inner>nav>ul>li>ul{
	position: absolute;
	top: 102px;
	z-index: 40;
	padding: 28px 0;
	display: none;
}
#gnb_inner>nav>ul>li>ul>li{
	margin-bottom: 16px;
}
#gnb_inner>nav>ul>li>ul>li>a{
	display: block;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -1px;
}
#gnb_inner>nav>ul>li>ul>li>a:hover{
	color: #408de4;
}
#gnb_inner>nav>ul>li>ul>li>a>button{
	background-color: transparent;
	background-image: url(../../0_Common/images/main/gnb_button_c.png);
	height: 20px; width: 21px;
	text-indent: -9999px;
}
/* ↑ 뜯을때 지우는것 ===================*/

/* 비주얼 이미지 -----------------------*/
#visual{
	position: relative;
	width: 100%;
	top: 103px;
}
#visual>#visual_sub{
	width: 100%; height: 281px;
	background:  url(../images/06_main_img.png) no-repeat;
	background-size: cover;
}
#visual_sub>.inner{
	width: 319px; height: 157px;
	margin: auto;
	padding-top: 73px;
	overflow: hidden;
}
#visual_sub>.inner>h2{
	font-size: 53px;
	color: #fff;
	text-align: center;
}
#visual_sub>.inner>p{
	width: 86px; height: 86px;
	border-radius: 50%;
	margin: auto;
	margin-top: 50px;
	text-indent: -9999px;
	background: #408de4 url(../images/visual_sub_p_icon.png) no-repeat center;
}
#visual>.inner{
	width: 1181px; height: 100%;
	margin: 0 auto;
	overflow: hidden;
	border-left: 1px solid #e3e3e3;
	box-sizing: border-box;
	
}
/* 사이드바 ---------------------------*/
#visual>.inner>#sidebar{
	float: left;
	width: 284px; height: 100%;
}
#visual>.inner>#sidebar>h3{
	padding: 42px 0;
	color: #636363;
	font-size: 30px;
	text-align: center;
	line-height: 114px;
	background-color: #e3e3e3;
}
#visual>.inner>#sidebar>ul{
	box-sizing: border-box;
}
#visual>.inner>#sidebar>ul>li{
	border-bottom: 1px solid #e3e3e3;
}
#visual>.inner>#sidebar>ul>li>a{
	font-size: 20px;
	line-height: 56px;
	margin-left: 40px;
	color: #898989;
}
#visual>.inner>#sidebar>ul>li>a:hover{
	color: #408de4;
}

#visual>.inner>#sidebar>ul li a.on{
    color: #408de4;
}
/* 설명 글 ----------------------------*/
#visual>.inner>#contents{
	float: left;
	padding: 58px 0 273px 48px;
	border-left: 1px solid #e3e3e3;
	box-sizing: border-box;
}
#contents>.con{
	width: 845px;
}
#contents>.con>strong{
	font-size: 25px;
	display: block;line-height: 25px;
	margin-bottom: 19px;
}
#contents>.con>span{
	display: block;
	font-size: 25px;
	color: #408de4;line-height: 25px;
	margin-bottom: 37px;
}
#contents>.con>p{
	font-size: 14px;
	line-height: 26px;
}
/*------------------------------------*/
#contents>#con1{}
#contents>#con1>h4{
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 10px;
}

/* 표 ---------------------------------*/
.inner_con{
	width: 100%; height: auto;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 37px;
}
.inner_con .Search{
    width: 100%; height: 37px;
    margin-bottom: 12px;
}
.inner_con .Search ul{
    box-sizing: border-box;
    overflow: hidden;
    float: right;
}
.inner_con .Search li{
    float: left; height: 37px;
    position: relative;
}
.inner_con .Search li select{
    width: 100%; height: 100%;
}
.inner_con .Search ul li:nth-child(1){
    width: 80px;
    
}
.inner_con .Search li input{
    width: 100%; height: 90%;
    position: absolute;
    right: 0; top: 0;
}
.inner_con .Search li button{
    position: absolute;
    top: 6px; right: 12px;
    background-color: transparent;
}
.inner_con .Search li button img{
    height: 24px; widows: 24px;
}
.inner_con .Search ul li:nth-child(2){
    width: 267px;
}
/* 이미지 박스들 */
.img_conBox{
    box-sizing: border-box;
    width: 100%; height: 100%;
}
.img_conBox:after{
    content: "";
    display: block;
    clear: both;
}
.img_conBox ul li{
    height: 225px; width: 277px;
    cursor: pointer;
    float: left;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img_conBox ul li:nth-child(3),
.img_conBox ul li:nth-child(6),
.img_conBox ul li:nth-child(9){
    margin-right: 0;
}
.img_conBox ul li:nth-child(1){
    background: url(../images/img_conBox_1.png) center no-repeat;
}
.img_conBox ul li:nth-child(2){
    background: url(../images/img_conBox_2.png) center no-repeat;
}
.img_conBox ul li:nth-child(3){
    background: url(../images/img_conBox_3.png) center no-repeat;
}
.img_conBox ul li:nth-child(4){
    background: url(../images/img_conBox_4.png) center no-repeat;
}
.img_conBox ul li:nth-child(5){
    background: url(../images/img_conBox_5.png) center no-repeat;
}
.img_conBox ul li:nth-child(6){
    background: url(../images/img_conBox_6.png) center no-repeat;
}
.img_conBox ul li:nth-child(7){
    background: url(../images/img_conBox_7.png) center no-repeat;
}
.img_conBox ul li:nth-child(8){
    background: url(../images/img_conBox_9.png) center no-repeat;
}
.img_conBox ul li:nth-child(9){
    background: url(../images/img_conBox_8.png) center no-repeat;
}
.img_conBox ul li a{
    display: none;
}
.img_conBox ul li:hover a{
    display: block;
    height: 100%; width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    color: #fff;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    padding-top: 100px;
}
.img_conBox ul li a{}
.table_of_cont{
    text-align: center;
    overflow: hidden;
    width: 334px; margin: auto;
    padding-top: 35px;
}
.table_of_cont ul li{
    float: left;
    margin-right: 20px;
    font-size: 18px;
    font-weight: lighter;
}
.table_of_cont ul li a{
    color: #898989;
}
.table_of_cont ul li a span{
    color: #000;
}
.table_of_cont ul li:last-child{
    margin-right: 0;
}
.table_of_cont ul li a i{
    color: #408de4;
}
/* 푸터 -------------------------------*/

footer{
	position: relative;
	height: 160px; width: 100%;
	box-sizing: border-box;
	border-top: 2px solid #c2c2c2;
	letter-spacing: -1px;
	margin: 76px 0 0 0;
	padding: 52px 0 0 0;
	background-color: #fff;
	
}
footer>div{
	display: block;
	position: relative;
	width: 1181px;
	margin: 0 auto;
	text-align: left;
}
footer strong{
	display: block;
	position: absolute;
	left: 0; top: 0;
}
footer .footer_site{
	display: block;
	overflow: hidden;
	margin: 0 0 0 294px;
}
footer .footer_site>ul{
	float: left;
}
footer .footer_site>ul>li{
	float: left;
	display: inline-block;
	background:  url(../images/footer_division.png) no-repeat 0 0px;
	padding: 0 23px;
}
footer .footer_site>ul>li:first-child{
	background: none;
	padding: 0
}
footer .footer_site>ul>li>a{
	display: inline-block;
	float: left;
	padding: 0 15px 0 0;
	margin: 0 14px 10px 0;
	font-size: 15px;
	color: #222222;
}
footer address{
	display: block;
	margin: 0 310px 0 294px;
	color: #666666;
	font-size: 14px;
}
footer address>.footer-tel{
	display: inline-block;
	background: url(../images/footer_tell.png)no-repeat 0 50%;
	padding: 0 0 0 23px;
	margin: 0 0 0 18px;
	text-align: left;
	color: #666;
}
footer .footer_sns>ul>li{
	text-indent: -9999px;
	height: 42px; width: 42px;
	float: left;
	margin-left: 3px;
}
footer .footer_sns{
	position: absolute;
	top: 0; right: 0;
}
footer .footer_sns>ul>.Facebook{
	background:url(../images/footer_sns1.png) no-repeat 0 0;
}
footer .footer_sns>ul>.twitter{
	background:url(../images/footer_sns2.png) no-repeat 0 0;
}
footer .footer_sns>ul>.Instagram{
	background:url(../images/footer_sns3.png) no-repeat 0 0;
}
footer .footer_sns>ul>.Pinterest{
	background:url(../images/footer_sns4.png) no-repeat 0 0;
}

















